*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}
:root {
	--title-color: #212121;
	--text-color: #757575; 
	--acent-color:#2196F3;
}

html {

    font-family: Roboto;
    color: var(--text-color) ;
    font-style: normal ;
}

.logo {

    position: absolute;
    width: 149px;
    height: 28px;
    left: 168px;
    top: 16px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1,16;
    letter-spacing: 0.03em;
    
    color: var(--title-color);


}

.accent  {
    
    color: var(--acent-color);

}

.main_nav{
    display: flex;
    height: 60px;
    justify-content: center;
    padding: 0 15px;
    outline: 1px solid aqua;
    align-items: center;
 
 }
 .main_nav__contact{
 
 display: flex;
 height: 100%;
 
 
 }
 
 .main_nav__item{
 
     outline: 1px solid tomato;
     width: 30px;
     
 }
 
 .main_nav__item:not(:last-child){
 
 margin-right: 10px;
 
 
 }
 
 .nav_svg {
 
 fill: var(--acent-color);
 transition: 300ms cubic-bezier(.84,.39,.31,1.24)
 
 }
 
 .main_nav__item:hover .nav_svg,
 .main_nav__item:focus .nav_svg{
 
 fill: var(--acent-color);
 
 
 
 }
 .hero {
     display: block;
    height: 400px;
    outline: 1px solid black;
    padding-top: 158px;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../icon/headerimg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

.texthero {
    display: block;
    margin: 0 auto;
    max-width: 360px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: tomato;
    /* color: #FFFFFF; */
}

.main-content__title{
    position: relative;
    width: 370px;
    height: 30px;
    margin: 0 auto;
	transform: translateY(33px);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5px;
    /* identical to box height, or 150% */
    
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}  

.main-content__title::after{
    position: absolute;
   content: "";
   width: 100px;
	height: 2px;
	background-color: var(--acent-color);
	border-radius: 2px;
    top: 20px;
    left: 135px;

}


.forpadding{

padding-top: 180px ;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-self: center;


}

